*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
}
#first{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr ;
    grid-template-rows: 70px 200px 1fr;
    grid-template-areas: "header header "
                          "aside section"
                          "figure figure";

 font-size: 20px;
 
    
}

#header{
    background-color: white;
    grid-area: header;
}
#aside{
    background-color: rgb(238, 236, 236);
    grid-area: aside;
}
#section{
    background-color:rgb(238, 236, 236);
    grid-area: section;
}
#figure{
    background-color: rgb(238, 236, 236);
    grid-area: figure;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
     padding-right: 30px;
      padding-left: 30px;
}
#logo{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
   
}
#logo h1{
    font-size: 1.2em;
}

#logo img{
    height: 40px;
    width: 40px;
}

#link{
    display: flex;
    align-items: center;
   justify-content: center;
    gap: 30px;
    
    
    
}
#link h3{
    font-weight: 100;
    font-size: 0.9em;
    color: rgb(58, 57, 57);
}


#btn1{
     display: flex;
    align-items: center;
   justify-content: end;
   
    gap: 20px;
}

#btn2{
     display: flex;
    align-items: center;
   justify-content: start;
   
    gap: 20px;
}

 #btn1 button, #btn2 button{
padding: 10px;
font-size: 15px;
border-radius: 20px;
border-color: rgb(73, 73, 248)
}

 .btn1{
    background-color: rgb(73, 73, 248);
    color: white;
}

 .btn2{
    background-color:white;
    color: rgb(73, 73, 248)
}

#aside{
   display: grid;
    justify-items: end;   
    align-items: center;
    padding: 20px;
    font-size: 2.5em;

}

#section{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 20px;
      padding-left: 80px;
    
   
   
    
    
    
}

#section p{
    font-size: 0.8em;
    font-weight: 400;
    width: 70%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: gray;
   
}

#figure{
    display: grid;
    place-items: center;
}


#figure img{
    
    height: 90%;
    margin-top: -20px;
    
    width: 60%;
    border-radius: 50px;
    object-fit: cover;
}



/* second part styling start */
#second{
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 40px;
}

.a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}
.a p{
   
    font-size: 17px;
}
.a h1{
    font-weight: 700;
    font-size: 50px;
}


/* 2nd main section start */
#about{
    height: 80%;          
    display: flex;
    gap: 60px;
    padding: 60px 80px;
    background: #efefef;
}
.about-left{
    width: 50%;
    display: flex;
    flex-direction: column;
  
    
}
.text{
    margin-top: auto;         
}
.text p{
    margin-top: 20px;
}
.pill{
    width: fit-content;
    padding: 8px 18px;
    border-radius: 25px;
    border: 1px solid black;
    background: transparent;
    font-weight: 600;
}
.about-right{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-right img{
    height: 450px;
    width:450px;
}

/* 4th section start */

#expertise{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 40px 150px 1fr;
    grid-template-areas: "pill pill"
                           "head para"
                           "emps emps";
padding: 40px;


margin-top: 40px;
}

#btnn{
    background-color: white;
    grid-area:pill ;
   
}
#head{
    background-color:white;
    grid-area: head;
}

#para{
    background-color: white;
    grid-area: para;
}
#emps{
    background-color:white;
    grid-area: emps;
}

#emps{
height: 100%;
width: 100%;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
gap: 12px;




}

.card{
    height: 300px;
    width: 350px;
    position: relative;
    cursor: pointer;
   
   
}

.card:hover #bluecard{
    opacity: 1;
}
.card img{
height: 100%;
width: 100%;
object-fit: cover;
object-position: top;
border-radius: 30px;

}

#name{
    width: 100%;
    background: linear-gradient(transparent, black);
    border-radius: 30px;
    position: absolute;
    bottom: 0;
   color: white;
   text-align: center;
   padding: 10px;
    
   
}


#bluecard{
  
   height: 100%;
    background-color: rgb(56, 56, 203);
    display: flex;
    flex-direction: column;
   
    align-items: start;
    gap: 10px;
    border-radius: 30px;
    position: absolute;
    bottom: 0;
    opacity: 0;
     transition: all 0.3s ease-in-out;
    
}

#bluecard #first{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    gap: 10px;
    padding: 20px;
}

#bluecard #second{
    display: flex;
    gap: 10px;
   
    
    
    color: white;

  
    
}

#name h5 {
    color: #bdbdbd;
    font-size: 0.9rem;
}


#bluecard h3 {
    font-weight: 500;
}

#bluecard h5 {
    color: #dddddd;
    font-weight: 300;
    margin-bottom: 20px;
}

#bluecard p {
    color: #dddddd;
    font-weight: 300;
    font-size: 0.8rem;
}

#head{
    width: 100%;
    display: grid;
    align-content: center;
    justify-content: center;
    font-weight: 300;
    padding: 20px;
}

#para{
   
    display: grid;
    align-content: center;
    padding: 20px;
   
}

/* milestone section start */


#milestones{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 40px 150px 1fr;
    grid-template-areas: "pill pill"
                           "head para"
                           "img year";
padding: 40px;

background-color:#efefef;;
margin-top: 40px;
position: relative;
}

#btnn2{
    background-color: #efefef;;
    grid-area: pill;
}

#milestones #head{
    background-color: #efefef;
    grid-area: head;
}

#milestones #para{
    background-color:#efefef;
    grid-area: para;
}
#milestones img{
    background-color: #efefef;
    grid-area: img;
}

#milestones #whole-year{
    background-color: #efefef;
    grid-area: year;
}


#year i{
     padding: 10px;
    border: 2px solid #555;
    border-radius: 50%;
    color: #555;
    cursor: pointer;
}

#year i:hover{
     padding: 10px;
    border: 2px solid #555;
    border-radius: 50%;
    color: #f3f3f5;
    background-color: #2d04fa;
}
#year h3:hover{
     
    color: #2d04fa;
    cursor: pointer;
}
#year p:hover{
    color: #2d04fa;
    cursor: pointer;
}

#year {
    display: flex;
    align-items: center;
    gap: 12px;
    
}

#whole-year{
    display: grid;
    align-content: center;
    justify-items: start;
    gap: 50px;
    
    position: absolute;
    left:20%;
    top:20%;
}
#milestones img{
    border-radius: 30px;
}


/* logoipsum section start */

#logoipsum{
    display: flex;
    align-items: center;
   
    padding: 40px;
    
    gap: 20px;

}

#logo{
    display: flex;
    justify-content: space-between;
}

#doe{
    display: flex;
    gap: 16px;
    align-items: center;
}

#ipsum{
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    padding-right: 80px;
}

#star{
    color: #2d04fa;
}
#logoipsum #icon{
    font-weight: 800;
}

#doe h5{
    font-size: 18px;
}
#logoipsum img{
    border-radius: 30px;
}


#connect{
   
    display: flex;

    padding: 40px;
    justify-content: space-between;
    
    margin-top: 40px;
}

#connect #div1{
display: flex;
flex-direction: column;


justify-content: center;
gap: 40px;
}

#div1 h4{
    font-weight: 100;
}

#div1 h3 i{
    border: 2px solid gray;
    padding:5px;
    border-radius: 50px;
    font-weight: 200;
    
    
}

#div1 h4{
    padding-bottom: 10px;
}

#connect img{
    border-radius: 30px;
}


footer {
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 50px;

    grid-template-areas: "main-div div1 div2 div3"
                          "last last last last";
   padding: 60px;
   margin-top: 20px;
}

#main-div{
    background-color:black;
    grid-area: main-div;
}
#div-a{
    background-color: black;
    grid-area: div1;
}
#div-b{
    background-color:black;
    grid-area: div2;
}
#div-c{
    background-color:black;
    grid-area: div3;
}
#last{
background-color: black;
grid-area: last;
display: flex;
justify-content: space-between;
align-items: end;
}

#main-div #logo{
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.f{
    display: grid;
    
    
    justify-content: center;

}

.f h3{
    margin-bottom: 7px;
}

.f h4{
    margin-bottom: 3px;
    font-weight: 200;
}

#main-div input , button{
    padding: 10px;
    border-radius: 20px;
    
}

#main-div  button{
    background-color: #2d04fa;
    color: white;
    border: none;
}

#main-div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#last h3 i{
    margin-right: 10px;
}